h1 title(#{count})
form(method="POST", action="/")
  input(type="text", size=70, name="memo")
  input(type="submit")
ul
  - each memo in memos
    li #{memo.body} - 
      a(href="/#{memo.id}") #{memo.created_at}
